/* main settings */

body {
    background-color: #151616;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 22px;
}

p {
    font-size: 25px;
    line-height: 30px;
}

/* end of main settings */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0 26px 0 12px;
    background-color: #151616 !important;
}

.navbar-nav {
    padding: 15px;
}

.nav-link > .navbar-nav > .navbar-dark {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.navbar-toggler > .fa-bars {
    border: none;
    padding: 0;
    font-size: 28px;
    color: #F38A03;
}

.navbar-dark > .navbar-toggler:focus {
    outline: none;
}

.navbar-nav > .navbar-brand {
    max-height: 100%;
    padding: 0;
}

.navbar-nav > btn {
    position: fixed;
}

.btn-ru {
    float: left;
}

.btn-ru::before {
    display: none;
}

.btn-ru:after {
    content: "|";
    color: white;
    position: relative;
    left: 2px;
}
/* header */
.header {
    position: relative;
    max-width: 958px;
    height: 513px;
    background-image: url("../img/main.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header:after {
    content: '';
    background-color: #ED1260;
    width: 265px;
    height: 65px;
    position: absolute;
    bottom: -65px;
}

.header-inner {
    padding: 95px 10px 20px;
}

.site-heading {
    background-color: black;
    width: 257px;
    height: 110px;
    margin-bottom: 14px;
    font-size: 25px;
}

.btn-black {
    background-color: black;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
    width: 131px;
    padding: 7px;
    border-radius: 0px;
}

.container-service {
    padding: 103px 15px 68px;
}

.service-wrap {
    padding: 60px 0;
}

.service-item {
    font-size: 16px;
    padding-bottom: 24px;
    line-height: 20px;
}

.service-heading {
    margin-top: 11px;
    text-align: center;
}

.map-holder {
    border: #ED1260 5px solid;
    width: 570px;
    margin-bottom: 30px;
}

.map {
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}

.gym-address {
    margin-left: 60px;
}

.footer {
    width: 600px;
    padding: 26px 0 4px;
}

.footer-item {
    padding-bottom: 22px;
    justify-content: space-between;
}

.footer-item > a {
    font-size: 18px;
    line-height: 22px;
}

.footer-item > ul {
    list-style: none;
    margin: 0;
}

.footer-item:last-child {
    margin-bottom: 0;
}

@media(min-width: 768px) {
    .header {
        height: 513px;
        margin: 90px auto 0;
    }
    .header:after {
        bottom: auto;
        top: 0;
        right: -101.2px;
        width: 107px;
        height: 347px;
    }

    .map-holder {
        margin-bottom: 90px;
        width: 560px;
        margin: 0 auto;
    }

    .map {
        margin: 10px auto;
    }

    .map-address {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 10px;
    }

    footer {
        border: none;
        padding: 0;
        max-width: 980px;
        margin: 0 auto;
        width: 600px;
    }

    .footer-inner {
        flex: 1;
    }

    .footer-item img {
        max-width: 45px;
        margin: 0 0 25px;
    }

    .footer-item {
        font-size: 15px;
        line-height: 30px;
    }

    p {
        font-size: 25px;
        line-height: 30px;
    }

    .container-service {
        padding: 37px 15px 96px;
        max-width: 980px;
        margin: 0 auto;
    }

    .service-heading {
        margin-top: 11px;
        text-align: center;
        max-width: 258px;
        font-size: 18px;
        line-height: 22px;
    }

    .service-wrap {
        padding: 77px 0;
    }
    .service-item {
        padding-bottom: 52px;
    }
    .navbar {
        padding: 0 58px;
    }
    .btn-ru:after {
        left: 1px;
    }
    .btn-ru {
        margin-right: 0px;
    }
}